body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #F6EBE0; 
    color: #5394A0;
    font-family: Oswald;
}

main h1 {
    text-align: center;
    font-size: 35px;
}

nav {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 0px;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
    font-size: 17px;
}

.b1 {
    background-color: #5394A0;
    color: #F6EBE0;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.b2 {
    background-color: #413F50;
    color: #F6EBE0;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.b3 {
    background-color: #5394A0;
    color: #F6EBE0;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.b4 {
    background-color: salmon;
    color: #F6EBE0;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border: none;
}

div {
    display: inline-flex;
    flex-direction: row;
}

aside {
    background-color: #FAF5EF;
    padding-left: 5mm;
    padding-right: 5mm;
    margin-bottom: 0;
    margin-top: 0;
    overflow: auto;
    max-height: fit-content;
    height: 100vh;
}

aside h1 {
    text-align: center;
    font-size: 30px;
}

aside ul {
    font-size: 20px;
}



textarea {
    resize: none;
    border-color: #40AEDD;
    border-width: 3px;
    background-color: #FAF5EF;
}

main {
    grid-column: 2/3;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

footer {
    text-align: center;
    grid-column: 2/3;
   
}

::placeholder {
    color: grey;

}